.banner {
  width: 100%;
  height: 673px;
  max-height: 800px;
  background-image: url(../images/web/pic.png);
  background-size: 100% 100%;
  overflow: hidden;
}
.banner .textbox {
  position: relative;
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}
.banner .textbox .titlelist {
  position: absolute;
  left: 0;
  top: 166px;
  font-size: 72px;
  color: #ffffff;
  font-weight: bolder;
}
.banner .textbox .titlelist .title {
  margin-top: 0px;
  line-height: 0.9;
}
.banner .textbox .textbg {
  position: absolute;
  margin: 0 auto;
  bottom: 0;
  right: 0;
  width: 586px;
  height: 373px;
  top: 50%;
  margin-top: -186.5px;
  background-color: rgba(0,0,0,0.2);
  background-size: 100% 100%;
}
.banner .textbox .textbg p {
  margin: 0;
  line-height: 1;
  margin-left: 54px;
  width: 482px;
}
.banner .textbox .textbg .title {
  margin-top: 15px;
  color: #00aeff;
  font-size: 24px;
  font-weight: bold;
}
.banner .textbox .textbg .title:last-child {
  margin-top: 8px;
}
.banner .textbox .textbg .text {
  font-size: 18px;
  color: rgb(240,240,240);
  line-height: 1.7;
}
.banner .textbox .textbg .top {
  margin-top: 24px;
}
.flow {
  height: 669px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  background-color: #f7f7f7;
}
.use-case {
  height: 1860px;
}
.headline {
  width: 100%;
  display: table;
  height: 250px;
  text-align: center;
}
.headline span {
  display: table-cell;
  vertical-align: middle;
}
.use-case ul {
  margin: 0;
  padding: 0;
}
.use-case ul li {
  height: 402px;
  display: block;
}
.use-case ul li:first-child {
  background-image: url(../images/case1.png);
  background-size: cover;
}
.use-case ul li:nth-child(2) {
  background-image: url(../images/case2.png);
  background-size: cover;
}
.use-case ul li:nth-child(3) {
  background-image: url(../images/case3.png);
  background-size: cover;
}
.use-case ul li:nth-child(4) {
  background-image: url(../images/case4.png);
  background-size: cover;
}
.use-case .description.left {
  width: 50%;
  float: left;
  display: block;
  height: 100%;
}
.use-case .description.right {
  float: right;
  display: block;
  width: 50%;
  height: 100%;
}
.use-case ul li .description {
  background-color: rgba(0,0,0,0.6)
}
.use-case .description.right section {
  height: 249px;
  margin-left: 46px;
  margin-top: 29px;
  width: 70%;
  margin-bottom: 0;
}
.use-case .description.left section {
  height: 280px;
  margin: 29px 46px 0 0;
  width: 70%;
  float: right;
}
.use-case ul li div h1 {
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  height: 28px;
  text-align: left;
  margin-bottom: 0;
  margin-top: 0;
}
.use-case ul li div p {
  font-size: 16px;
  color: #dadada;
  line-height: 1.8;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  margin: 0;
}
.use-case ul li .description.right section a {
  display: block;
  height: 21px;
  text-decoration: none;
  background-color: #2ca9e1;
  font-size: 14px;
  padding: 9px 2px 4px 8px;
  color: #dadada;
  width: 100px;
  max-width: 130px;
  margin-left: 0px;
  margin-top: 25px;
}
.use-case ul li .description.left section a {
  display: block;
  height: 21px;
  text-decoration: none;
  background-color: #2ca9e1;
  font-size: 14px;
  padding: 9px 2px 4px 8px;
  color: #dadada;
  width: 100px;
  max-width: 130px;
  margin-left: 0px;
  margin-top: 25px;
}
.use-case ul li .text{
  height: 232px;
  position: relative;
}
.features {
  height: 753px;
}
.features .features-items {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 50px;
}
.features .features-items .essential {
  width: 24.8%;
  height: 172px;
  border-style: solid;
  border-width: thin;
  border-color: #efefef;
  border-right-style: none;
  padding-top: 41px;
  padding-bottom: 37px;
  text-align: center;
  color: #333;
}
.features .features-items .essential p:first-of-type {
  font-size: 24px;
  font-weight: bold;
  margin-top: 12px;
  margin-bottom: 42px;
}
.features .features-items .essential p:nth-of-type(2) {
  font-size: 16px;
  color: #999999;
}
.pricing .benifits {
  height: 574px;
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  -ms-justify-content: center;
  -webkit-justify-content: center;
}
.pricing .benifits .whiteboard {
  height: 498px;
  width: 362px;
  border-style: solid;
  border-width: thin;
  border-color: #2ca9e1;
  margin-right: 61px;
}
.pricing .benifits .tan {
  background-color: #4a6a78;
  height: 526px;
  width: 331px;
  margin-right: 61px;
}
.pricing .benifits section {
  height: 378px;
  margin-top: 45px;
  margin-left: 53px;
}
.pricing .benifits section h1 {
  font-size: 20px;
  margin-top: 20px;
  font-weight: bold;
  margin-bottom: 0;
}
.pricing .benifits .tan section h1 {
  color: #fff;
}
.pricing .benifits section h2 {
  margin-bottom: 48px;
  font-size: 18px;
  font-weight: normal;
}
.pricing .benifits .tan section h2 {
  color: #fff;
}
.pricing .benifits .whiteboard section h2 {
  color: #313131;
}
.pricing .benifits section ol {
  padding-left: 18px;
  margin: 0;
}
.pricing .benifits section ol li {
  margin-bottom: 16px;
  font-size: 14px;
}
.pricing .benifits .whiteboard section ol li {
  color: #999;
}
.pricing .benifits .tan section ol li {
  color: #fff;
}
.pricing .benifits a {
  margin-left: 53px;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  width: 100px;
  height: 24px;
  display: block;
  padding: 9px 6px 3px 6px;
  text-align: center;
}
.pricing .benifits .whiteboard a {
  background-color: #2ca9e1;
  color: #fff;
}
.pricing .benifits .tan a {
  background-color: #fff;
  color: #000;
}
