.banner {
  width: 100%;
  height: 400px;
  background-image: url(/images/architecture/banner.png);
  background-size: 100% 100%;
}
.main {
  background-image: url(/images/architecture/Frame_1.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 1200px;
  margin: 45px auto;
  margin-bottom: 0;
  overflow: hidden;
  padding-top: 80px;
}
.main .titlebox {
  width: 50%;
  float: left;
  overflow: hidden;
}
.main .titlebox .title {
  font-weight: bolder;
  line-height: 1;
  margin-bottom: 38px;
  letter-spacing: -5px;
  font-size: 76px;
  color: #313131;
}
.main .titlebox .title:last-child {
  margin-bottom: 80px;
}
.main .articlebox {
  width: 50%;
  float: left;
}
.main .articlebox .article {
  padding-left: 35px;
  padding-right: 35px;
  font-size: 16px;
  color: #999999;
}
.main .articlebox .article p {
  line-height: 2;
}
.articleContainer {
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}
.articleContainer .article {
  float: left;
  width: 584px;
  height: 300px;
  margin-right: 32px;
}
.articleContainer .article:last-child {
  margin-right: 0;
}
.articleContainer .article .title {
  overflow: hidden;
  font-size: 72px;
  color: #313131;
  margin-bottom: 25px;
}
.articleContainer .article .content {
  padding: 20px 45px 35px 45px;
  display: block;
  background-color: #2ca9e1;
  color: #ffffff;
  font-size: 16px;
  line-height: 2;
}
.articleContainer .article .content p {
  margin-top: 0;
  margin-bottom: 40px;
}
.blank {
  width: 100%;
  height: 898px;
  position: relative;
  background-color: #f7f7f7;
}
.blank .blanktab1 {
  top: 0;
  left: 0;
  width: 100%;
  position: absolute;
  height: 100px;
  background-color: #ffffff;
}
.blank .framebox {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  position: relative;
  height: 100px;
  background-color: #ffffff;
}
.blank .framebox .frame {
  top: 0;
  left: 0;
  position: absolute;
  width: 1200px;
  height: 898px;
  background-image: url(/images/architecture/Frame_2.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.blank .framebox .titlebox {
  position: absolute;
  top: 50%;
  margin-top: 264px;
  height: 200px;
  width: 400px;
  font-size: 36px;
  color: #313131;
  font-weight: bolder;
}
.blank .framebox .img {
  top: 220px;
  position: absolute;
  right: 0px;
  margin: 0 auto;
  width: 834px;
  height: 387px;
  background-image: url(/images/architecture/transfrom.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.blank .blanktab {
  height: 100px;
  width: 100%;
  background-color: #ffffff;
  position: absolute;
  bottom: 0;
  left: 0;
}
.blank .blanktab1 {
  height: 100px;
  width: 100%;
  background-color: #ffffff;
  position: absolute;
  bottom: 0;
  left: 0;
}
.introduce {
  width: 1200px;
  height: 641px;
  margin: 0 auto;
  overflow: hidden;
  margin-bottom: 70px;
  background-image: url(/images/architecture/Frame_3.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.introduce .infobox {
  width: 60%;
  float: left;
}
.introduce .infobox .title {
  margin-top: 35px;
  margin-left: 48px;
  font-size: 24px;
  color: #313131;
}
.introduce .infobox .info {
  font-size: 16px;
  color: #999999;
  margin-left: 48px;
  margin-right: 15px;
}
.introduce .imgbox {
  float: left;
  width: 40%;
  height: 641px;
}
.introduce .img {
  margin: 6px 3px 0px 10px;
  height: 610px;
  background-image: url(/images/architecture/pic_3.png);
  background-size: 100% 100%;
}
